* {
    padding: 0;
    margin: 0;
    font-family: 'Josefin Sans', sans-serif;
}

html {
    scroll-behavior: smooth;
}

body{
    background-color: white;
}

#main-container{
    padding: 0% 8%;
    
}

a {
    text-decoration: none;
    color: white;
}

#heading{
    color: rgb(9, 9, 87);
    text-align: center;
    font-size: 32px;
}

/* Navigation Bar */
#navbar {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(9, 9, 87);
    width: 100%;
    padding-top: 0%;
    padding-bottom: 0%;
    /* to fixed navigation bar permanet when scrolling */
    position:fixed;
    top: 0px;
    left: 0px;
}

#ibk-logo {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    position: relative;
    top: -15px;
}

#ibk-logo:hover{
    border: 1px solid white;
}

#navbar-logo {
    display: flex;
    justify-content: left;
    margin-top: 1%;    
}

#navbar-link{
    display: flex;
    justify-content: center;
    margin-top: -4%;
}

#navbar ul {
    display: flex;
    list-style: none;
    margin: 20px 0px;
}

#navbar ul li {
    padding: 5px 10px;
    font-weight: bold;
    font-size: 16px;
}

#navbar ul li:hover {
    color: rgba(0, 0, 255, 0);
    box-shadow: 0 0 10px white;
    border-radius: 4px;
    padding: 8px;

}

/* Home Section */

#home {
    display: flex;
    justify-content: center;
    flex-direction: row;
    height: 500vh;
    padding: 4% 8%;
    padding-bottom: 1%;
}

#home-left {
    background-image: url("/image/ibukun-suit.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 50%;
    border: 1px solid gray;
    margin-right: 2%;
    border-radius: 2%;
    box-shadow: 0 0 10px rgb(9, 9, 87);
}

#home-right {
    width: 50%;
    font-size: 30px;
    text-align: center;
    font-weight: bold;
    background-color:white; 
    border: 1px solid gray; 
    border-radius: 2%; 
    box-shadow: 0 0 10px rgb(9, 9, 87);
    padding: 2% 4%;
}

#home-right h1 {
    text-align: center;
    margin: 30px;
}

#home-right h3 {
    text-align: center;
    margin-bottom: 3%;
    text-align: justify;
    border-radius: 4px;
    border: 1px solid white;
    padding: 2%;
    box-shadow: 20px, 10px, 20px, rgb(9, 9, 87);
}

#p-1 {
    font-size: 20px;
    line-height: 40px;
    font-weight: bold;
    text-align: center;
}

#skills{
    color: rgb(9, 9, 87);
}

#skills-heading{
    color: black;
}

/* .fa-brands{
    color: black;
} */

/* 
#social-media{
    margin-bottom: -2%;
}

#linkedln, #github{
    font-size: 14px;
    color: black;   
}

#linkedln-logo, #github-logo{
    margin: 1%;    
}

#linkedln-logo{
    width: 15%;
    height: 7.5%;
}

#github-logo{
    width: 5%;
    height: 5%;
} 
*/

#btn-1, #btn-2 {
    padding: 15px 30px;
    font-weight: bold;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border: none;
    margin-top: 10px;
    background-color: rgb(9, 9, 87);
    border-radius: 4px;
}

#btn-1:hover {
    font-weight: bold;
    color: white;
    cursor: pointer;
    background-color: blue;
    box-shadow: 0 0 10px blue;
}

/* Gallery  Section*/

#gallery {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* background-color: rgba(0, 0, 0, 0.2); */
    color: white;    
    padding: auto;
    margin-bottom: none;
}

#main-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#main-gallery img {
    width: 360px;
    height: 240px;
    margin: 10px;
}

/* services section */

#heading{
    margin: 2%;
}

#services{
    display: flex;
    width: 90%;
    height: 500px;
    margin: auto;
    padding-bottom: 2%;
    justify-content: center;
}

#services-group{
    width: 25%;
    padding: 1% 2%;
    margin: 0% 1%;
    border: 1px solid gray;
    border-radius: 2%;
    box-shadow: 0 0 10px rgb(9, 9, 87);
}
#services-icon{
    margin: 2% 40%;
    width: 50px;
    height: 50px;
    padding: 4%;
}

#heading-sub{
    text-align: center;
    margin-bottom: 10%;
    color:  rgb(9, 9, 87);
    font-size: 30px;
}

#services-p{
    font-size: 170%;
}

/* contact Section */
#contact-me{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    height: 25%;
    background-color: rgba(0, 0, 0, 0.2);
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;    
    margin-bottom: 1%;
    font-size: 1.5rem;
    /* border: 1px solid white; */
}

#fullname, #email, #phone{
    padding: 10px;
    width: 29%;
    margin: 1%;
    border: none;
}

#messagebox{
    width: 30%;
    border: none;
}

#btn-2{
   margin-top: 7px; 
}

#btn-2:hover {
    padding: 15px 30px;
    font-weight: bold;
    color: white;
    font-size: 16px;
    cursor: pointer;
    background-color: blue;
    box-shadow: 0 0 10px blue;
}

#footer{
    display: flex;
    justify-content: center;
    background-color: rgb(9, 9, 87);
    padding: 2%;
    color: white;
}

/* responsive */

@media screen and (min-width: 600px){
    /* HOME SECTION */
    #home{
        display: flex;        
        height: 100vh;
        }
    /* GALLERY SECTION */
    #gallery{
        display: flex;
        height: 100vh;
        width: 100vw;
    }    

    #main-gallery{
        display: flex; 
        align-items: center; 
        justify-content: center;                       
    }

    #main-gallery img {
        width: 26.5%;
        height: 45%; 
        border-radius: 2%;
        border: 1px solid white; 
        box-shadow: 0 0 10px rgb(9, 9, 87);     
    }  
    
    @media (max-width: 350px) {
        
      }
}